  .User-Navbar {
    width: 20%;
    height: 100vh;
    background-color: while; 
    
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .User-section {
    display: flex;
    align-items: center;
    width: 100%;
    height: 9%;
    margin-top: 10px;
    padding-left: 80px;
    
   
    
  }
  
  .profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ccc;
    margin-bottom: 10px;
   
  }
  
  .User-name {
    color: black; 
    font-size: 18px;
    padding-left: 10px;
  }
  
  .nav-items {
    list-style: none;
    width: 100%;
    padding-right: 40px;
  
  }
  
  .nav-item {
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 15px;
    color: black; 
    font-weight: bold;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s;
  }

  .nav-item img {
    width: 20px; /* 원하는 너비 */
    height: 20px; /* 원하는 높이 */
    object-fit: contain; /* 이미지를 비율에 맞게 조정 */
    margin-right: 10px;
    padding-left: 40px;   
  }
  .nav-item:nth-child(8){
    margin-top: 100px;
  }
  
  .nav-item:hover {
    background-color: #4A4A94;
  }
  
  .icon {
    margin-right: 10px;
  }
 
  .nav-item span {
    font-size: 16px;
  }
  