.image-slider {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 0 50px;
  background-size: cover;
  background-position: center;
  width: 100%;
  position: relative;
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50px;
  transform: translateY(-50%);
  z-index: 1;
  color: white;
  text-align: left;
}

.overlay h1 {
  font-size: 2.5rem;
  margin: 0;
  width: 400px;
  line-height: 1.2;
}

.overlay p {
  width: 450px;
  font-size: 1.2rem;
  margin-top: 10px;
}

.slider-images {
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
  width: 80%; /* 슬라이더 너비를 줄임 */
  height: 600px; /* 슬라이더 높이 조정 */
  margin-left: auto;
  margin-right: auto;
}

.slide {
  min-width: 200px; /* 이미지 하나의 너비를 줄임 */
  height: 400px; /* 이미지 하나의 높이를 줄임 */
  margin-right: 20px; /* 이미지 사이의 간격을 줄임 */
  z-index: 1;
  position: relative;
  transition: transform 0.3s, z-index 0.3s;
  border-radius: 15px;
  overflow: visible;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.slider-container {
  display: flex;
  transition: transform 0.5s ease-in-out;
}



.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.slide.active {
  z-index: 3;
  transform: scale(1.1);
}

.slide:nth-child(2) {
  transform: scale(1);
}

.slide:hover {
  transform: scale(1.05);
}
