/* Login.css */
.Login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  /* background-color: red; */
  width: 100%; 
 
  margin: 0 auto;
}

.background-image {
  width: 100%;
  height: 700px;
  max-width: 500px;
  padding: 20px;
  /* box-shadow: 0 4px 8px rgba(0,0,0,0.1); */
  /* background-color: #ffffff; */
  /* background-color: red; */
  text-align: center;
  border-radius: 8px;
  margin-top: 100px;
  /* margin-left: 30%; */
  /* margin-bottom: 30px; */
  /* padding-bottom: 10px; */
  /* display: block; */
  /* align-items: center; */
}

.content {
  margin-bottom: 20px;
  width: 100%;
}

.loginform {
  width: 100%;
  /* background-color: red; */
}

.input-group {
  margin-bottom: 15px; 
}

.input-group input {
  width: 100%;
  /* padding: 10px; */
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 5px;
  /* padding-left: 10px; */
}

.Loginbutton {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

.social-login {
  margin: 20px 0;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 10px;
  width: 100%;
  border: solid 1px ;
}

.social-icons img {
  width: 40px;
  height: 40px;
  cursor: pointer;
  /* background-color: red; */
}

p {
  margin-top: 20px;
}
.login-id-password {
  width: 100%;
  text-align: left;
}

.facebook-box {
  width: 50%;
  background-color: #2027D5;
}
.facebook {
  float: left;
}