/* Navbar 스타일 유지 */
.navbar {
  display: flex;
  align-items: center;
  padding: 20px;
  background: rgba(0, 0, 0, 0.3);
  color: white;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 3;
  justify-content: space-between;
  height: 30px;
  /* margin: 0 auto; */
 

}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 100px; /* 메뉴 항목 간의 간격 */
  position: relative;
  justify-content: center; /* 중앙 정렬 */
}

.nav-links li {
  position: relative;
  padding: 10px;
}
.nav-links li a {
  text-decoration: none;
  color: white;
  
}

/* 서브메뉴 컨테이너 스타일 */
.submenu-container {
  position: absolute;
  top: 70px; /* 네비게이션 바 아래에 위치 */
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);

  z-index: 4;
  display: flex;
  justify-content: center; /* 서브메뉴 중앙 정렬 */
  padding: 20px 0;
}

/* 서브메뉴 스타일 */
.submenu {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center; /* 서브메뉴 항목을 중앙에 정렬 */
  flex-wrap: wrap; /* 서브메뉴가 여러 줄로 나올 때 줄바꿈 */
  gap: 40px; /* 서브메뉴 아이템 간의 간격 */
  max-width: 1200px; /* 최대 너비 설정 */
  margin: 0 auto; /* 가운데 정렬 */
}

.submenu li {
  padding: 10px;
}

.submenu li a {
  color: white; /* 서브메뉴 텍스트 색상 */
  text-decoration: none; /* 링크 밑줄 제거 */
  font-size: 14px;
}

.submenu li a:hover {
  color: #007BFF; /* 호버 시 텍스트 색상 변경 */
}

.login-btn {
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-right: 30px;
}

.login-btn:hover {
  background-color: #0056b3;
}
