/* General Page Styling */
.trip-page {
    font-family: Arial, sans-serif;
    width: 100%;
}

.trip-image{
    width: 100%;
    height: 300px;
    background-color: #ccc;
}
.trip-img {
    width: 100%;
    height: 300px;
}

/* Main content layout */
.main-content {
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    margin: 20px auto;
    margin-top: 100px;  
    margin-bottom: 200px;
}


.filters {
    flex: 0.5; 
    width: 20%;
    border-right: 1px solid #ccc;
    padding-right: 20px;
    /* background-color: red; */
    
    
}

/* Filter category styling */
/* Filter category styling */
.filter-category {
    margin-bottom: 20px;
    padding-right: 20px;
}

.filter-category h4 {
    font-size: 18px;
    margin-bottom: 10px;
    border-bottom: solid 1px black;
    line-height: 50px;
}

.filter-category ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.filter-category li {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 10px; /* 체크박스와 텍스트 사이 간격 */
}

.filter-category input[type="checkbox"] {
    width: 20px;
    height: 20px;
}
.ratingcolor {
    color: #FFDB1D; /* 노란색으로 설정 */
    font-size: 18px; /* 별 크기 조정 */
}



/* Hotels section styling */
.hotels {
    flex: 3; 
    padding-left: 20px;
    width: 70%;
    /* display: flex;  */
}


.hotel-best {
    display: flex;
}

.hotel-grid {
    display: flex;
    flex-direction: column; /* 1열로 변경 */
    gap: 20px; /* 각 카드 사이의 간격 추가 */
}
.hotel-image-placeholder {
    width: 23%;
    height: 150px;
    background-color: #ccc;
    margin-bottom: 20px;
}

/* Hotel list styling */
.hotel-list {
    display: flex;
    flex-direction: column;
}

.hotel-card {
    display: flex;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    border-radius: 5px;
    overflow: hidden; /* Ensures content doesn't overflow out of the card */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow for depth */
}

.hotel-card img {
    width: 150px; /* Fixed size for the images */
    height: auto;
    object-fit: cover;
}

.hotel-info {
    padding: 10px;
}


@media (max-width: 768px) {
    .main-content {
        flex-direction: column; 
    }
    
    .filters, .hotels {
        width: 100%;
        padding: 0;
    }
    
    .hotel-grid {
        flex-direction: column;
        align-items: center;
    }

    .hotel-image-placeholder {
        width: 90%;
        height: 150px;
        margin-bottom: 10px;
    }
}
