
.User-FAQ-Page {
    display: flex; 
    font-family: Arial, sans-serif;
}

.User-FAQ-container {
    width: 60%;
    
    
    
}
.User-FAQ-title {
    text-align: center;
    padding-left: 70px;
    margin-bottom: 5%;
    
}

.FAQ-table {
    margin-left: 30px;
    width: 100%;
    height: 500px;
    padding: 10px;
    /* background-color: red; */
}
.FAQ-table table {
    width: 100%;
    border-collapse: collapse;
    
    
    
}

.FAQ-table th, .FAQ-table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.FAQ-table th {
    background-color: #f2f2f2;
}

.FAQ-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.User-FAQ-Search-container{
    width: 100%;
    height: 50px;
    border: solid 1px black; 
    display: flex;
}
.User-FAQ-Search-icon {
    width: 35px;
    height: 35px;
    
    
}
.User-FAQ{
  
    width: 70%;
    height: 50px;
    display: flex;
    margin-left: 15%;
}

.User-FAQ-Search-form{
    width: 50%;
    
    
    
}
.User-FAQ-Search-text {
    width: 20%;
}

.User-FAQ-right-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    /* background-color: #5A5ABC; */
    padding: 20px;
    
  
}


.image-placeholder {
    height: 150px;
    background-color: #d3d3d3;
    border-radius: 5px;
    margin-bottom: 20px;
}


.text-placeholder {
    height: 50px;
    background-color: #cfcfcf;
    border-radius: 5px;
    margin-bottom: 20px;
}


.extra-placeholder {
    height: 100px;
    background-color: #bfbfbf;
    border-radius: 5px;
}   