.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  overflow: hidden; /* 오버플로 방지 */
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin: 20px;
}

.map-container {
  width: 90%; /* 부모 컨테이너 기준으로 폭 조정 */
  height: 80vh; /* 100vh 대신 부모 컨테이너 높이에 맞춰 조정 */
  max-width: 1000px; /* 최대 폭 설정 */
}

.error-message {
  color: #e74c3c;
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
}